	body {
	background: white url("Pictures/Mobile2.jpg") repeat scroll 50% 50%;
	}

	a.loginregister{
	font: bold 19px arial;
	color: black;
	}
	
		
	a.loginregister:hover {
	letter-spacing: 2px;
	font-weight: bold;
	color: red;
	}
	
	
	ul{
	font: bold 30px verdana;
	text-align: left;
}

	li.main{
	text-shadow: 2px 3px 1px silver,
               -1px 1px 1px silver;
	color: black;
	margin: 0px 40% 15px 40%;
}
	
	li.faq{
	text-shadow: 2px 3px 1px silver,
               -1px 1px 1px silver;
	color: black;
	margin: 0px 12% 15px 12%;
}
	
	
	h1{
	font: 250% verdana;
	text-align: left top;
	color: black;
	padding: 0% 0% 0% 200px;
	text-shadow:0 0 3px #ff0;
	}


	h3{
	font: bold 150% Verdana;
	text-align: center;
	color: black;
	padding: 1% 10% 10% 10%;
	}

	
	h4.adv{
	font: bold 150% Verdana;
	text-align: center;
	color: black;
	}

	p.adv{
		font: bold 150% Verdana;
	}
	
	
	h6{
	font: 15px Arial;
	text-align: center;
	margin: 300px 0px 0px 0px;
	}
	

	#c1{
	color: red;
	}

	
	input.adv[type="text"],textarea.adv[name="comment"] {
	font: 20px verdana;
    border: 2px solid black;
    border-radius: 3px;
	}

	#newline{
	text-indent: 30%;
	}
	
	advertisement{
		text-align: center;
	}
		
		/*Поиск по каталогу*/
	input,button,textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type="text"] {
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 4px;
}

button {
    background-color: #ddd;
    background-image: -moz-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #ddd);
    background-image: linear-gradient(to bottom, #f5f5f5, #ddd);
    background-repeat: repeat-x;
    height: 25px;
    padding: 0 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.13);
    box-shadow: 0 3px 3px rgba(0,0,0,0.13);
    border: 1px solid #c7c7c7;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
}

button.green {
    background-color: #41b039;
    background-image: -moz-linear-gradient(top, #4ecf44, #41b039);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ecf44), to(#41b039));
    background-image: -webkit-linear-gradient(top, #4ecf44, #41b039);
    background-image: -o-linear-gradient(top, #4ecf44, #41b039);
    background-image: linear-gradient(to bottom, #4ecf44, #41b039);
    border: 0;
    color: white;
}



		
	h2.catalogue{
    border: 3px ridge #292929;
	margin: 3% 15% 7% 15%;
	}
	
	
	p.catalogue{
	font: bold 100% arial;
	}
	
	
	img.catalogue{
	border: 3px groove #e3e3e3;
	}
	
	
	#col1 {
	float: left;
	width: 25%;
	padding: 0% 0% 0% 10%;
	}
	
	#col2 {
	float: left;
	width: 25%;
	}
	
	#col3 {
	float: left;
	width: 25%;
	padding: 0% 10% 0% 0%;
	}

	#pic {
	float:left;
	width: 250px;
	margin: 0% 3% 0% 20%;
	border: 3px solid black;
	}
	
	
	textarea.phone[name="comment"] {
    border: 2px solid black;
    border-radius: 2px;
	}

	p.phone{
	font: 160% Times New Roman;
	color: black;
	padding: 0% 0% 0% 20%;
	}
	
	h2.phone{
	font: bold 150% Verdana;
	text-align: center;
	color: black;
	padding: 30px 0% 0% 0%;
	}
	
	h3.phone{
	font: bold 30 Verdana;
	color: gray;
	text-align: center;
	}
	
	h4.phone{
	margin: 1px 35% 100px 55%;
	}
	
	
.fileform { 
	background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: center;
	left: 560px;
    vertical-align: middle;
    width: 200px;
}
 
.fileform .selectbutton { 
    background-color: black;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 10px; 
    height: 30px; 
    z-index:20;
}

	#pi {
	position: absolute;
	left: 350px;
	top: 350px;
	z-index: 1;
	}

	#pict {
	position: absolute;
	left: 20px;
	top: 5px;
	z-index: 1;
	}

	#pic1 {
	position: absolute;
	left: 300px;
	top: 200px;
	z-index: 1;
	}

	#pic2 {
	position: absolute;
	left: 315px;
	top: 215px;
	z-index: 2;
	}