	body {
	background: white url("Pictures/Mobile2.jpg") repeat scroll 50% 50%;
	}

	a.exit{
	font: bold 27px arial;
	color: black;
	}
	
		
	a.exit:hover {
	letter-spacing: 5px;
	font-weight: bold;
	color: red;
	}
	
	
	h1{
	font: 250% verdana;
	text-align: left top;
	color: black;
	padding: 0% 0% 0% 5%
	}

	
	h3{
	font: 150% verdana;
	text-align: center;
	color: black;
	background: none;
	font-weight:bold;
	padding: 1% 10% 10% 10%

	}
	
	
	ul{
	background: none;
	font: 25px verdana;
	text-align: left;
	font-weight:bold;
}

	li{
	text-shadow: 2px 3px 1px silver,
               -1px 1px 1px silver;
	color: black;
	margin: 10px 40% 10px 40%
}

	#c1{
	color: red;
	}
