	body {
	background: white url("Pictures/Mobile2.jpg") repeat scroll 50% 50%;
	}

	a.loginregister{
	font: bold 19px arial;
	color: black;
	}
	
		
	a.loginregister:hover {
	letter-spacing: 2px;
	font-weight: bold;
	color: red;
	}
	
	p.logreg{
	text-align: right;
}
	
	ul.main{
	font: bold 30px verdana;
	text-align: left;
}

	li.main{
	text-shadow: 2px 3px 1px silver,
               -1px 1px 1px silver;
	color: black;
	margin: 0px 40% 15px 40%;
	}
	
	
	li.faq{
	text-align: left;
	}

	li.faq{
	font: bold 29px verdana;
	text-shadow: 2px 3px 1px silver,
               -1px 1px 1px silver;
	color: black;
	margin: 10px 0px 15px 300px;
	}

	h4.faq{
	font: 22px verdana;
	color: black;
	margin: 0px 0px 15px 200px;
	text-shadow: 3px 3px 0 #fff;

	}

	
	h1{
	font: 250% verdana;
	text-align: left top;
	color: black;
	padding: 0% 0% 0% 200px;
	text-shadow: 3px 3px 0 #02FF31;
	}


	h3{
	font: bold 150% Verdana;
	text-align: center;
	color: black;
	padding: 1% 10% 7% 10%;
	}

	
	h4.adv{
	font: bold 150% Verdana;
	text-align: center;
	color: black;
	}

	
	p.adv{
		font: bold 150% Verdana;
		text-align: center;
	}
	
	
	a.adv{
	text-align: center;
	}
	
	h6{
	font: 15px Arial;
	text-align: center;
	margin: 300px 0px 0px 0px;
	}
	

	#c1{
	color: red;
	}

	
	input.adv[type="text"],textarea.adv[name="comment"] {
	font: 20px verdana;
    border: 2px solid black;
    border-radius: 3px;
	}

	#newline{
	text-indent: 30%;
	}
		
		
		/*Поиск по каталогу*/
	input,button,textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type="text"] {
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 4px;
}

button {
    background-color: #ddd;
    background-image: -moz-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #ddd);
    background-image: linear-gradient(to bottom, #f5f5f5, #ddd);
    background-repeat: repeat-x;
    height: 25px;
    padding: 0 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.13);
    box-shadow: 0 3px 3px rgba(0,0,0,0.13);
    border: 1px solid #c7c7c7;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
}

input[type="text"]:focus {
    outline: none;
}

button:hover {
    background-position: 0 -25px;
}

h2.header{
		text-indent: 200px;

}

.description {
    color: #999;
    font-size: 13px;
    line-height: 12px;
}

.block.search form {
    position: relative;
	margin: 7px 400px 30px 200px;
}

.block.search form>input {
    width: 100%;
    padding-right: 57px;
    margin-bottom: 4px;
}

.block.search form>button {
    position: absolute;
    right: 4px;
    top: 5px;
    height: 20px;
    font-size: 11px;
    line-height: 11px;
    box-shadow: none;
}

.block.search .description {
    margin-bottom: 0;
}

		
	h2.catalogue{
    border: 3px ridge #292929;
	margin: 3% 15% 7% 15%;
	}
	
	
	p.catalogue{
	font: bold 100% arial;
	}
	
	
	img.catalogue{
	border: 3px groove #e3e3e3;
	width: 130px; 
	height: 130px;
	}
	
	
	#col1 {
	float: left;
	width: 20%;
	padding: 0% 0% 17px 150px;
	}
	
	#col2 {
	float: left;
	width: 20%;
	padding: 0% 0% 17px 0%;
	}
	
	#col3 {
	float: left;
	width: 20%;
	padding: 0% 0% 17px 0%;
	}

	#col4 {
	float: left;
	width: 20%;
	padding: 0% 100px 17px 0%;
	}
	

	#pic {
	float:left;
	width: 250px;
	margin: 0% 3% 0% 20%;
	border: 3px solid black;
	}
	
	textarea.phone[name="comment"] {
    border: 2px solid black;
    border-radius: 2px;
	}

	p.phone{
	font: 160% Times New Roman;
	color: black;
	padding: 0% 0% 0% 20%;
	}
	
	h2.phone{
	font: bold 150% Verdana;
	text-align: center;
	color: black;
	padding: 30px 0% 0% 0%;
	}
	
	h3.phone{
	font: bold 30px Verdana;
	color: gray;
	text-align: center;
	}
	
	
	a.editdelete{
	font: bold 19px arial;
	color: brown;
	}
	
		
	a.editdelete:hover {
	letter-spacing: 1px;
	font-weight: bold;
	color: red;
	}

	
	p.editdelete{
	padding: 0% 20% 0% 60%;

	}
	
	table{
	padding: 40px 0% 0% 0%;
	}

	
	p.ph{
	text-align: center;	
	}

	
	h4.usercomment{
	line-height:0.1;
	text-align : center;
	color: #DCD9ED;
	font-family: Avantgarde, CenturyGothic, "AppleGothic", sans-serif;
	font-size: 12px;
	text-align: center;
	text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
	}

	
	h4.user{
	line-height:0.3;
	text-align : center;
	color: #301D90;
	font-family: Avantgarde, CenturyGothic, "AppleGothic", sans-serif;
	font-size: 16px;
	text-align: center;
	text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474;
	}
	
	
	h4.comment{
	font-size: 23px;
	font-family: Avantgarde, CenturyGothic, "AppleGothic", sans-serif;
		text-shadow: 
      1px -1px 0 #767676; 
	}
	
	
	#cmnt{
	top: 600px;
	left: 960px;
	position: absolute;
}

	
.fileform { 
	background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: center;
	left: 560px;
    vertical-align: middle;
    width: 200px;
}
 
.fileform .selectbutton { 
    background-color: black;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 10px; 
    height: 30px; 
    z-index:20;
}

	#pi {
	position: absolute;
	left: 350px;
	top: 350px;
	z-index: 1;
	}

	#pict {
	position: absolute;
	left: 20px;
	top: 5px;
	}

	
	h3.contacts{
	font: bold 29px verdana;
	text-shadow: 2px 3px 1px silver,
               -1px 1px 1px silver;
	}
	
	
	#cont{
	top: 300px;
	left: 900px;
	position: absolute;
	width: 300px; 
	height: 350px;
}

