	body {
	background: white url("Pictures/Mobile1.jpg") repeat fixed 50% 50%;
	margin: 50px 35% 270px 35%;
	border: 2px solid black;
	border-top-left-radius: 50px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 0;
	}

	h1 {
	text-shadow: 1px 1px 0 orange,
               1px -1px 0 red,
               -1px 1px 0 orange,
              -1px -1px 0 blue;
	font: 50px verdana;
	text-align: center;
	color: black;
	margin: 10px 5px 10px 5px;
	}
	
	
	input[type="text"] {
	font: 15px verdana;
    border: 2px solid black;
    border-radius: 2px;
	}
	
	input[type="password"] {
	font: 15px verdana;
    border: 2px solid black;
    border-radius: 2px;
	}
	
	
	h2{
	margin: 5px 0px 0px 50px;
	font: 30px verdana;
	color: gray;
	}

	
	a{
	font: bold 16px verdana;
	color: black;
	padding: 30px 1px 0px 20px;
	}
	
	
	a:hover {
	letter-spacing: 5px;
	font-weight:bold;
	color:red;
	}
	
	
	p{
	font-weight: bold;
	margin: 30px 10% 10px 77%;
	}
	
	
.login {
  position: relative;
  margin: 10px auto 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.login p {
  margin: 20px 0 0;
}
